<h1>Project: <%= project.title %></h1>

<% if current_user_is_author? %>
    <div class="navbar">
    <%= link_to edit_project_path(project), class: "btn" do %>
      <span class='icon-edit'> Edit project
    <% end %>

    <%= link_to project_path(project), method: :delete, confirm: 'Are you sure?', class: "btn btn-danger" do %>
      <span class='icon-trash'> Destroy project
    <% end %>
    </div>
<% end %>
<div class="well">
  <p><%= project.description %></p>
</div>

<%= link_to :projects, class: "btn" do %>
  <span class="icon-arrow-left"> Back
<% end %>

<% if bids.present? %>
    <h2>Bids</h2>

    <table class="table table-striped table-bordered">
      <thead>
        <th>Author</th>
        <th>Description</th>
        <th>Price</th>
        <% if can_author_select_bid? %>
            <th></th>
        <% end %>
      </thead>
      <tbody>
      <% bids.each do |bid| %>
          <tr class="<%= "success" if bid.selected? %>">
            <td class="span3"><%= bid.user.email %></td>
            <td><%= bid.description %></td>
            <td class="span2"><%= bid.price %>$</td>

            <% if can_author_select_bid? %>
                <td class="span2">
                <%= button_to "Select", {controller: :bids, action: :select, project_id: project.id,
                                         bid_id: bid.id}, method: :put, class: "btn btn-primary" %>
                </td>
            <% end %>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate bids %>
<% end %>

<% if can_user_create_bid? %>
    <h3>Create bid</h3>
    <%= render partial: 'bids/bid', locals: {bid: project.bids.new} %>
<% end %>
