<!DOCTYPE html>
<html>
<head>
  <title>Freelance</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <%= render 'layouts/devise' %>
</div>
<div class="container">
    <% flash.each do |name, msg| %>
        <div class="<%= class_for_flash(name) %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= msg %>
        </div>
    <% end %>

    <%= yield %>
</div>

</body>
</html>
